.AddTodo {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addInput {
  padding: 1.4rem;
  border-radius: 3rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  max-width: 50rem;
}

.button {
  padding: 1.4rem 3rem;
  border-radius: 3rem;
  margin: 0 1.4rem;
  border: none;
  font-size: 1.6rem;
  font-weight: bolder;
  outline: none;
  background: #7883c2;
  color: #fff;
  margin-top: 1rem;
  transition: .2s all ease-out;
}

.button:hover,
.button:active {
  background: #9da7dd;
  transform: scale(1.05);
}

@media only screen and (min-width:45rem) {
  .AddTodo {
    flex-direction: row;
  }

  .button {
    margin-top: 0;
  }
}