.TodoList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

.todo-enter {
  opacity: 0;
  animation: new-item-animation .3s linear forwards;
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.todo-exit {
  opacity: 1;
  animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  /*transform origin is moved to the bottom left corner*/
  transform-origin: 0% 100%;
}
.todo-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
@keyframes new-item-animation {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}

@keyframes removed-item-animation {
  0% {
      opacity: 1;
      transform: rotateZ(0);
}

  100% {
      opacity: 0;
      transform: translateY(600px) rotateZ(90deg);
  }
}